<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./TG-WHITE-LOGO.png" type="image/icon type" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <link rel="stylesheet" href="index.css" />

    <title>Careers</title>
  </head>

  <body>
    <!--
  <div class="preloader-container">
    <img style="width: 10%;margin-bottom: 20vh;" src="./tg-transbarent-logo.png" alt="Italian Trulli">
    <div class="preloader-text">
      <span>Extra </span><span>Ordinary </span><span>Reach </span><span> .. </span><span>Extra </span><span>Ordinary
      </span><span>Outc</span><span>omes</span>
    </div>
  </div> -->
    <!--------------------------------------------------start-header-section------------------------------------------------------------->
    <header>
      <div
        class="logo"


      >
        <img src="./TG-WHITE-LOGO.png" alt="TG Developments" />
      </div>
      <nav class="conainer-navbar-header">
        <ul class="navbar-header">
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/"
            >
              HOME
            </a>
          </li>
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/about%20us%20.html"
            >
              ABOUT US
            </a>
          </li>
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Our-Development.html"
              >OUR DEVELOPMENTS</a
            >
          </li>
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/media%20center.html"
              >MEDIA CENTER</a
            >
          </li>
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/careers.html"
              >CAREERS</a
            >
          </li>
          <li>
            <a
              href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Contact-us.html"
              >CONTACT US</a
            >
          </li>
        </ul>
      </nav>
      <div class="nav-icon">
        <!--<i class="fa-brands fa-whatsapp"></i>-->
        <i class="fa-solid fa-phone px-2"></i>
        <p class="m-0">16974</p>
      </div>
      <div id="menuArea">
        <input type="checkbox" id="menuToggle" />

        <label for="menuToggle" class="menuOpen">
          <div class="open"></div>
        </label>

        <div class="menu menuEffects">
          <label for="menuToggle"></label>
          <div class="menuContent">
            <ul>
              <li><a href="#">MENU 1</a></li>
              <li><a href="#">MENU 2</a></li>
              <li><a href="#">MENU 3</a></li>
              <li><a href="#">MENU 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!--------------------------------------------------end-header-section------------------------------------------------------------->
    <!--------------------------------------------------Hero-section------------------------------------------------------------->
    <div
      style="background-image: url(./banner1.jpg); position: relative"
      class="Hero-Section"
    >
      <div
        style="
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.67);
        "
      ></div>
    <div style="z-index: 22;
    margin-left: 73px;
    margin-top: 98px;" >
     <img src="./careers.png"  alt="Italian Trulli">

    </div>
    </div>
    <!------------------------- form-career--------------------- -->
    <div
      style="
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0px;
            height: 100%;
      "
      class="job-description-careers d-flex justify-content-center align-items-start"
    >
      <p style="font-size: 38px; color: #f77f00">Accountant</p>
      <p>Looking For A Full Time Accountants</p>
      <p>Bachelor degree in Accounting (English Section).</p>
      <div
        style="flex-direction: column"
        class="justify-content-center align-items-start d-flex"
      >
        <p style="font-size: 20px; color: #f77f00" >Job Description:</p>
        <p style="transform: translateY(-12px); text-align: start">
          Prepare invoices, follow up on client cash collection, purchase
          orders, cheque follow ups, and online payments. Manage the petty cash,
          analyze and prepare monthly financial reports. Deal and communicate
          with all banks that SADEX deals with and issue cheques for the
          concerned entities. Follow up on the import transactions, the supplier
          invoices, and the payment schedules. Follow up on credit facilities
          files, such as issuing of letters of guarantees, and follow up on its
          settlement. Drafting, sending and following up letters of guarantees
          Prepare monthly salaries, manage expenses and allowances Budgeting and
          the responsibility of the monthly and quarterly taxes. End of year
          inventory management.
        </p>
      </div>
    </div>

    <div class="projcard projcard-customcolor my-5" style="height: 100vh">
      <div class="projcard-innerbox">
        <div class="projcard-textbox" style="align-items: center">
          <div class="form-container" >
            <div class="col col-1">
              <div class="title-container">
                <p data-aos="fade-up" data-aos-delay="50" class="title">Get in Touch</p>
                <p data-aos="fade-up" data-aos-delay="100" class="slogan">It's Easy</p>
              </div>
              <form class="form-div">
                <div class="input-container" data-aos="fade-up" data-aos-delay="150">
                  <p >First name</p>
                  <input
                    type="text"
                    class="text-input"
                    placeholder="e.g John Smith"
                  />
                </div>
                <div class="input-container" data-aos="fade-up" data-aos-delay="200">
                  <p >Last name</p>
                  <input
                    type="text"
                    class="text-input"
                    placeholder="e.g John Smith"
                  />
                </div>
                <div class="input-container" data-aos="fade-up" data-aos-delay="250">
                  <p >Email</p>
                  <input
                    type="text"
                    class="text-input"
                    placeholder="Johnsmith@example.com"
                  />
                </div>
                <div class="input-container" data-aos="fade-up" data-aos-delay="300">
                  <p >Phone number</p>
                  <input type="tel" id="phone" class="text-input" />
                </div>

                <div
                  class="frame"
                  style="display: block; width: 100%; height: 34px; margin: 0"
                >
                  <button
                    class="custom-btn btn-14"
                    style="width: 100%; margin: 0px"
                    data-aos="fade-up" data-aos-delay="350"
                  >
                    Attach CV
                  </button>
                </div>
                <div
                  class="frame"
                  style="display: block; width: 100%; height: 34px; margin: 0"
                >
                  <button
                    class="custom-btn btn-14"
                    style="width: 100%; margin: 0px"
                    data-aos="fade-up" data-aos-delay="400"
                  >
                    Submit
                  </button>
                </div>
              </form>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------- end-form-career--------------------- -->

    <!-------------------------------------------------------footer-------------------------------------------------------------------->
  
    <!-------------------------------------------------------end-footer---------------------------------------------------------------------------------------------------------------------------------------->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="index.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script>
      var input = document.querySelector("#phone");
      var iti = window.intlTelInput(input, {
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", // just for formatting/placeholders etc
      });

      // Example of retrieving the full number with country code
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var fullNumber = iti.getNumber();
          console.log(fullNumber);
        });
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/split-type"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
<script>
  gsap.registerPlugin(ScrollTrigger);

  // Select all h1, h2, h3, h4, h5, span, and p elements
  const splitTypes = document.querySelectorAll('h1, h2, h3, h4, h5, p');

  splitTypes.forEach((char, i) => {
    const text = new SplitType(char, { types: 'chars' });

    gsap.from(text.chars, {
      scrollTrigger: {
        trigger: char,
        start: 'top 90%',
        end: 'top 40%',
        scrub: true,
        markers: false,
      },
      opacity: 0.2,
      stagger: 0.1,

    });
  });

//   // Initialize Lenis for smooth scrolling
//   const lenis = new Lenis({
//     // smooth scrolling duration set to 200ms
//     easing: (t) => Math.min(1, 1 - Math.pow(1, -10 * t)),  // easing function for the scroll
//     smoothWheel: true,  // enable smooth scrolling for mouse wheel
//     smoothTouch: false, // enable smooth scrolling for touch devices
//   });

  // Bind Lenis to the scroll event
  lenis.on('scroll', (e) => {
    ScrollTrigger.update();  // Sync ScrollTrigger with Lenis
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>

  </body>
</html>
