<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>media center</title>
  <link rel="icon" href="./TG-WHITE-LOGO.png" type="image/icon type">

  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
  <style>
    .text-banner {
      color: white;
    }
  </style>
  <!--------------------------------------------------start-header-section------------------------------------------------------------->
  <header>
    <div class="logo"  data-aos="slide-right">
      <img src="./TG-WHITE-LOGO.png" alt="TG Developments" />
    </div>
    <nav class="conainer-navbar-header">
      <ul class="navbar-header">
    <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/"> HOME </a></li>
          <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/about%20us%20.html"> ABOUT US </a></li>
          <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Our-Development.html">OUR DEVELOPMENTS</a></li>
          <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/media%20center.html">MEDIA CENTER</a></li>
          <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/careers.html">CAREERS</a></li>
          <li><a href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Contact-us.html">CONTACT US</a></li>

      </ul>
    </nav>
    <div class="nav-icon">
      <!--<i class="fa-brands fa-whatsapp"></i>-->
      <i class="fa-solid fa-phone px-2"></i>
      <p class="m-0">16974</p>
    </div>
    <div id="menuArea">
      <input type="checkbox" id="menuToggle"></input>

      <label for="menuToggle" class="menuOpen">
        <div class="open"></div>
      </label>

      <div class="menu menuEffects">
        <label for="menuToggle"></label>
        <div class="menuContent">
          <ul>
            <li><a href="#">MENU 1</a></li>
            <li><a href="#">MENU 2</a></li>
            <li><a href="#">MENU 3</a></li>
            <li><a href="#">MENU 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--------------------------------------------------end-header-section------------------------------------------------------------->
  <!--------------------------------------------------Hero-section------------------------------------------------------------->
  <div style="background-image: url(banner4.jpg); height:50vh;position: relative;" class="Hero-Section ">
    <div style="z-index: 1;
        margin-left: 34px;
    margin-top: 98px;" >
     <img src="./media center.png" alt="Italian Trulli">

    </div>
    
    <div>
    
    </div>
    <div
    style="
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.41);
    "
  ></div>
  </div>
  <!--------------------------------------------------end-Hero-section------------------------------------------------------------->
  <!--------------------------------------------------gallary------------------------------------------------------------->


  <div class="news-container">
    <div class="row">
      <div class="card" data-aos="fade-up" data-aos-delay="100">
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div> 
          <div style="curser:pointer;" class="btn-media-center"><a class="color" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="200">
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div>
           <div style="curser:pointer;" class="btn-media-center"><a class="color btn-media-center" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>

      <div class="card" data-aos="fade-up" data-aos-delay="300">
          
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div> 
          <div style="curser:pointer;" class="btn-media-center"><a class="color btn-media-center" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" data-aos="fade-up" data-aos-delay="100">
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div>
        <div style="curser:pointer;" class="btn-media-center"><a class="color btn-media-center" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>
      <div class="card" data-aos="fade-up" data-aos-delay="200">
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div>
           <div style="curser:pointer;" class="btn-media-center"><a class="color btn-media-center" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>

      <div class="card" data-aos="fade-up" data-aos-delay="300">
        <div class="details">
          <div class="text">
            <p class="date">March 2023</p>
            <p class="main">
You are not buying a house, you are buying a lifestyle.” Anonymous
            </p>
            <p class="date">
     Palm Capital is a residential compound fully surrounded by
                  natural palm trees, providing a serene and green living
                  environment.
                
            </p>
          </div>
        <div style="curser:pointer;" class="btn-media-center" ><a class="color btn-media-center" style="     text-decoration: none;" href="https://projects.logic-designs.com/TG%20DEVELOPMENTS/Single%20News.html">Read More</a>
</div>
        </div>
      </div>
    </div>
    </div>














  <!-------------------------------------------------------footer-------------------------------------------------------------------->
 <footer class="text-center  w-100 text-lg-start "
    style="color: white;     position: absolute; background-image: url(background-footer.png); ">
    <!-- Section: Social media -->
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between border-bottom"
      ></section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <img
                  src="./tg-transbarent-logo.png"
                  alt="TG Developments"
                  class="logo-image-footer"
                  width="100px"
                />
                <!--<img src="./TG Developments final logo black-01 (1) copy.png" style="width: 40%;" alt="">-->
              </h6>
              <div>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>

              <div>
                <a href="#!" class="text-reset">ABOUT US</a>
              </div>

              <div class="my-3">
                <a href="#!" class="text-reset ">MEDIA CENTER</a>
              </div>
              <div>
                <a href="#!" class="text-reset">CAREERS</a>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">DEVELOPMENTS</h6>
              <div >
                <a href="#!" class="text-reset">RESIDENTIAL</a>
              </div>
              <div class="mt-3">
                <a href="#!" class="text-reset">COMMERCIAL</a>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">GET IN TOUCH</h6>
              <div><i class="fas fa-home me-3"></i> Cairo, EGYPT</div>
              <div class="py-4" style="display:flex;">
                <i class="fas fa-envelope me-3"></i>
                info@TGDEVELOPMENTS.com
              </div>
              <div><i class="fas fa-phone me-3"></i> + 01 234 567 88</div>
              <div class="pt-4" ><i class="fas fa-print me-3"></i> + 01 234 567 89</div>
            </div>

            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <div class=" ">
        <footer class="text-center">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a
                class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </a>

              <!-- Instagram -->
              <a
                class="btn btn-floating btn-outline-light m-1"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>
              <a
                class="btn btn-floating btn-outline-light m-1"
                href="#!"
                role="button"
                ><i class="fa-brands fa-tiktok"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2)"
          >
            All Copyrights Reserved for ®TG DEVELOPMENTS 2024 - Designed &
            Developed By Logic Designs
          </div>
          <!-- Copyright -->
        </footer>
      </div>
    <!-- End of .container -->
  </footer>
  <!-------------------------------------------------------end-footer---------------------------------------------------------------------------------------------------------------------------------------->

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 2,
      loop: true,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
  <script src="our-developments.js"></script>
   
</body>

</html>